language: java

dist: trusty
group: deprecated

services:
- docker

env:
  global:
    - DOCKER_IMAGES_VERSION=11
    - HADOOP_MASTER_IMAGE='teradatalabs/cdh5-hive:11'

install:
- sudo pip install awscli
- git clone --depth=50 --branch=sprint-44 https://github.com/Teradata/presto.git
- cd presto
- git checkout 53bb7f0cfcd302a65f59c1071347e566f1e16a69
- |
  aws s3 sync s3://teradata-presto/travis_build_artifacts/Teradata/presto/sprint-44/5382.7 /tmp/artifacts \
      --exclude '*' \
      --include 'presto-server-*.tar.gz' \
      --include 'presto-cli-*-executable.jar' \
      --include 'presto-product-tests-*-executable.jar' \
      --include 'presto-jdbc-*.jar' \
      --exclude '*-tests.jar' \
      --exclude '*-sources.jar' \
      --no-sign-request
- |
  tar -xf /tmp/artifacts/presto-server-*.tar.gz -C /tmp/

script:
  - export PRESTO_SERVER_DIR=/tmp/presto-server-*
  - export PRESTO_CLI_JAR=/tmp/artifacts/presto-cli-*-executable.jar
  - export PRODUCT_TESTS_JAR=/tmp/artifacts/presto-product-tests-*-executable.jar
  - export PRESTO_JDBC_DRIVER_JAR=/tmp/artifacts/presto-jdbc-*.jar
  - |
    ../ensure_command_output.sh ./presto-product-tests/bin/run_on_docker.sh singlenode -t sql_tests.testcases.tpcds.q14_1
    
    
